body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #12553d;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #12553d;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #236931;
    text-decoration: none;
    padding: 15px;
}

nav ul li a:hover {
    background-color: #298562;
    border-radius: 5px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    flex: 1; 
}

h1, h2 {
    color: #12553d;
}

.main-content {
    margin-top: 20px;
    margin-bottom: 20px; 
}

/* List Styling */
ul.styled-list {
    list-style-type: square;
    padding-left: 20px;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #12553d;
    color: white;
}

/* Image Styling */
.image-adjacent {
    float: left;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .navbar nav ul {
        flex-direction: column;
        align-items: center;
    }

    .product {
        flex: 1 1 100%;
    }

    .hero {
        height: 40vh;
    }
}

/* General Styles for Product Images */
.product img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .product {
        width: 100%; /* Full width on mobile */
        margin-bottom: 20px; /* Margin for spacing */
    }
    .product img {
        height: 300px; /* Fixed height for better visibility on mobile */
    }
}

/* Media Query for Smaller Mobile Devices */
@media (max-width: 480px) {
    .product img {
        height: 250px; /* Adjust height for smaller screens */
    }
}
